
.search-form {
  margin-bottom: 1em;
}
.search-form input {
  margin-top: 0;
  margin-bottom: 0;
}
.search-results p {
  margin: 0;
  padding: 0;
}
.search-results {
}
.search-results dt {
  font-size: 1.1em;
}
.search-results dd {
  margin: 0;
  margin-bottom: 1.75em;
  line-height: 1.3em;
}
.search-results .search-url {
  color: #669900;
}
.search-results .search-info {
  font-size: 0.85em;
}
.search-advanced .criterion {
  float: left; /* LTR */
  margin-right: 2em; /* LTR */
}
.search-advanced .action {
  float: left; /* LTR */
  clear: left; /* LTR */
}
